html,body{
  height:100%;
  overflow: hidden !important;
}
body{
  background-image: url('../img/main-bg.jpg');
      background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: #000;
}
.center-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.center-logo:before {
  content: '';
  width: 200px;
  position: absolute;
  height: 200px;
  background-image: url('../img/decor1.svg');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: rotation 3s infinite linear;
}

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}


.inv-content{
	text-align: center;
font-family: 'Playball', cursive !important;
position: absolute;
    top: 0;
    left: 0;
  right: 0;
  z-index: 999;
}
.inv-content h1{
    color: #adadfd !important;
  font-size: 40px;
  margin-bottom: 20px;
}
.inv-content span {
    color: #fff;
    font-size: 1rem;
    font-family: 'Play', sans-serif !important;
}
.dg.ac {
  z-index: 999!important;
}

.inv-footer {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  z-index: 999;
}

.inv-footer .date {
  color: #ffeaa7;
  font-size: 16px;
  font-family: 'Play', sans-serif !important;
  text-align: center;
}

.inv-footer .nikah{
  font-family: 'Playball', cursive;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 0;
}

.inv-footer .inshallah{
  margin: 0;
}

.btn-outline {
  background: transparent;
  color: #fff;
  text-decoration: none !important;
  border-radius: 25px;
  padding: 5px 15px;
  border: 1px solid;
    font-size: .8rem;
    font-family: sans-serif;
}

.bg_heart {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
 }

.heart {
    position: absolute;
    top: -50%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -m-transform: rotate(-45deg);
    transform: rotate(-45deg);
	opacity: .6;
 }

.heart:before {
    position: absolute;
    top: -50%;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}

.heart:after {
    position: absolute;
    top: 0;
    right: -50%;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}

@-webkit-keyframes love {
  0%{top:110%}
}
@-moz-keyframes love {
  0%{top:110%}
}
@-ms-keyframes love {
  0%{top:110%}
}
@keyframes love {
  0%{top:110%}
}